<div class="content">
  <div class="container">
    <div class="alert alert-danger" role="alert" ng-show="mensagem.error">
      <i class="fa fa-exclamation-circle"></i> {{message.error}}
    </div>
    <div class="alert alert-success" role="alert" ng-show="mensagem.success">
      <i class="fa fa-check"></i> {{message.success}}
    </div>
    <form class="add-book" ng-submit="save()">
      <div class="form-group">
        <label for="bookUrlImage">Image URL:</label>
        <input type="text" class="form-control" name="url_image" ng-model="image.image_url" id="ImageUrl" placeholder="URL Image" required="">
      </div>
      <div class="form-group">
        <label for="bookDescription">Title:</label>
        <input type="text" class="form-control" name="title" ng-model="image.title" id="ImageTitle" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="bookDescription">Description:</label>
        <textarea class="form-control" name="description" ng-model="image.description" id="ImageDescription" placeholder="Description"></textarea>
      </div>

      <br>
      <div class="form-buttons text-right">
        <a href="/#/" class="btn btn-link">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
