<div class="content">
  <div class="home">
    <div class="container">
      <div deckgrid class="deckgrid" source="images">
        <div class="a-card column size-1-4">
          <div class="card">
            <a ng-href="{{card.image_url}}" target="_blank"><img src="" data-ng-src="{{card.image_url}}" width="100%"></a>
            <div class="cart-text" style="padding:10px">
              <p class="title">{{card.title}}</p>
              <p class="description">{{card.description}}</p>
              <a ng-href="/#/{{card.author.login}}">{{card.author.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
